################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet_6_and_angular/WorldCities/.vs/WorldCities/FileContentIndex
